.neos-list {
  display: grid;
  grid-gap: 20px;
  padding: 0 30px;
}

@media (min-width: 600px) {
  .neos-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 800px) {
  .neos-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .neos-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1400px) {
  .neos-list {
    grid-template-columns: repeat(6, 1fr);
  }
}